<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>
      Bachelorarbeit - Lars Köhler
    </ion-title> -->
    <ion-buttons>
      <ion-button (click)="centerView()">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons [ngClass]="{ 'hidden': !isVisible }" slot="end">
      <ion-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="folder-open-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="clearRooms()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="height: 100%; width: 100%"></div>
  <div id="floor-buttons" style="display: flex; justify-content: center; margin-top: 10px;"></div>
</ion-content>
